<!DOCTYPE html>
<html lang="en">
<head>
    <title>MovieWeb App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('home') }}">MovieWeb App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('get_users') }}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('get_movies') }}">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_movies_search') }}">Search User's Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('movie_watchers_search') }}">Search Movie's Watchers</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>