{% extends "base.html" %}
{% block content %}
<div class="container">
<h1 class="text-center my-5">Your Favorite ❤️ Movies List</h1>
<p class="lead text-center">Using this app you can add your favorite movies or movies that you want to watch to your watch list.</p>
<table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Feature</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Add new users</td>
                <td>You can add new users to the app.</td>
            </tr>
            <tr>
                <td>Add/update movies to Movie Database</td>
                <td>You can add or update movies in the app.</td>
            </tr>
            <tr>
                <td>Find your movie from OMDB and add it to your watch list</td>
                <td>You can find your movie from OMDB and add it to your watch list.</td>
            </tr>
            <tr>
                <td>Delete Movie </td>
                <td>You can delete movies from your watched list.</td>
            </tr>
        </tbody>
    </table>
    
</div>
{% endblock %}
