{% extends "base.html" %}
{% block content %}
<h1>Search Movie's Watchers</h1>
<form method="POST" class="my-4">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Movie ID</span>
        </div>
        <input type="text" class="form-control" id="movieId" name="movieId" placeholder="Enter Movie ID">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Movie Name</span>
        </div>
        <input type="text" class="form-control" id="movieName" name="movieName" placeholder="Enter Movie Name">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">IMDb ID</span>
        </div>
        <input type="text" class="form-control" id="imdbID" name="imdbID" placeholder="Enter IMDb ID">
    </div>
    <button type="submit" class="btn btn-outline-primary">Search</button>
</form>

{% if users %}
<h2>Users who watched {{ movie.name }}</h2>
<ul class="list-group">
    {% for user in users %}
    <li class="list-group-item">{{ user.name }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}