{% extends "base.html" %}

{% block content %}
<h1>Your Favorite ❤️ Movies List</h1>
<form id="addMovieForm" method="POST" action="">
    <div class="form-group">
        <label for="movieName">Movie Name</label>
        <input type="text" class="form-control" id="movieName" name="movieName" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Movie To Watch List</button>
</form>

{% if movies %}
<h2>Movies watched by user {{ user.name }}</h2>
<div class="row">
    {% for movie in movies %}
    <div class="col-sm-4">
        <div class="card mb-3" style="max-width: 18rem;">
            <img src="{{ movie.poster_url or url_for('static', filename='default.jpg') }}" class="card-img-top img-fluid" alt="{{ movie.name }}" style="height:200px; object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <p class="card-text">Directed by: {{ movie.director }}</p>
                <p class="card-text">Year: {{ movie.year }}</p>
                <p class="card-text">Rating: {{ movie.rating }}</p>
                <button class="btn btn-danger deleteMovie m-2" data-movie-id="{{ movie.id }}">Delete</button>
                {% if movie.imdbID %}
                    <a href="https://www.imdb.com/title/{{ movie.imdbID }}" class="btn btn-primary" target="_blank">View on IMDb</a>
                {% else %}
                    <p>No IMDb link available.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<script>
    // Function to get the value of a query parameter from the URL
    function getQueryParameter(name) {
        const urlSearchParams = new URLSearchParams(window.location.search);
        const value = urlSearchParams.get(name);
        return decodeURIComponent(value); // Decode the URL-encoded value to get the normal string
    }

    $(document).ready(function() {
        // Get the userId from the URL query parameter
        const userId = getQueryParameter("userId");
        
        $(".deleteMovie").click(function() {
            const movieId = $(this).data('movie-id');
            console.log('Movie ID:', movieId);
            console.log('User ID: ', userId);

            $.ajax({
                url: '/users/'+ userId +'/delete_movie/' + movieId,
                type: 'DELETE',
                success: function(msg) {
                    console.log('Success response:', msg);
                    alert(msg.status);
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.log('Error response:', status, error);
                    alert("An error occurred: " + status + "\nError message: " + error);
                }
            });
        });


        // Update the form's action attribute with the userId
        const addMovieForm = $("#addMovieForm");
        addMovieForm.attr("action", `/users/${userId}/add_movie`);
      

        // Submit the form using Ajax
        addMovieForm.submit(function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Get the value of the input field
            const movieName = $("#movieName").val();

            // Check if the input field is not empty
            if (!movieName) {
                alert("Please enter a movie name.");
                return;
            }

            // Create an object to hold the form data
            const formData = {
                name: movieName
                // Add more fields here if needed
            };

            const jsonData = JSON.stringify(formData);

            // Send the form data using Ajax
            $.ajax({
                type: "POST",
                url: addMovieForm.attr("action"),
                contentType: "application/json", // Set the content type to JSON
                data: jsonData,
                success: function(response) {
                    // Handle the API response if needed
                    console.log("Form submitted successfully:", response);
                    location.reload()
                },
                error: function(error) {
                    // Handle the API error if needed
                    console.error("Error submitting form:", error);
                    alert("Failed to add movie. Please try again.");
                }
            });
        });
    });
</script>


{% endblock %}
