<!DOCTYPE html>
<html>
<head>
    <title>{{ user.name }}'s Movies - MovieWeb App</title>
</head>
<body>
    <h1>{{ user.name }}'s Favorite Movies</h1>
    <ul>
        {% for movie in movies %}
            <div>
                <span>{{ movie.name }}</span> </br>
                <span>{{ movie.director}}</span></br>
                <span>{{ movie.director}}</span></br>
                <span>{{ movie.director}}</span></br>
                <img src={{ movie.poster_url}} /></br>
                <span>{{movie.imdbID}}</span></br>
            </div>
        {% endfor %}
    </ul>
    <a href="/users">Back to Users List</a>
</body>
</html>