{% extends "base.html" %}

{% block content %}
<h1>All Users</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ url_for('user_movies_search', userId=user.id) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
